/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  color: #222;
  text-decoration: none;
}

.separator {
  margin: 20px auto;
  height: 10px;
  width: 100px;
  background: #111;
}

.p {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 800;
  font-size: 15px;
  border: 0px;
  cursor: pointer;
}

.btn-primary {
  background-color: #ffffff;
  color: #222;
}
.btn-dark {
  background-color: #222;
  color: #ffffff;
  border: 1px solid #222;
}

.btn-primary:hover {
  background-color: #222;
  color: white;
}
.btn-dark:hover {
  background-color: white;
  color: #222;
}

/*marging horizontal */
.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  margin: auto;
  max-width: 1000px;
}
.containers {
  display: block;
  margin: auto;
  max-width: 1000px;
}

/* header */

.header {
  background: #333;
  line-height: 1.7em;
}

.header nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 20px;
}
nav h1 a {
  flex-direction: column;
}
.header nav h1 {
  display: flex;
  justify-content: start;
  padding: 20px;
  margin-bottom: 0;
}
.header nav h1 a {
  color: white;
}

h1 .logo {
  display: block;
  align-items: center;
}

.header nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
}

.header nav ul li {
  display: flex;
}

.header nav ul li a {
  display: block;
  color: white;
  padding: 20px;
}

.header nav ul li a:hover {
  background: #444;
}

.active {
  background: #444;
}

/* vp */
.vp {
  height: 700px;
  background: url(../images/cafe1.jpg) center center;
  background-size: cover;
  text-align: center;
}

.vp-content {
  max-width: 600px;
  padding-top: 150px;
  color: white;
  display: block;
  margin: auto;
}

.vp-content h1 {
  font-size: 50px;
}

.vp-content p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

i {
  font-size: 20px;
  color: #000;
}

/* features */

.features {
  padding: 100px 0 100px 0px;
  text-align: center;
}
.feature {
  display: block;
}

/* person */
.person {
  height: 600px;
  background: url(../images/person.jpg) center center/cover;
}

/* réservation */

.reservation {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  padding: 40px 0px 40px 0px;
  text-align: center;
}

footer P {
  margin-bottom: 0px;
}